.ip-display {
  border: none;
  background-color: #dddddd;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  font-family: monospace;
  font-size: 2em;
  display: inline-block;
  margin: 0 0 25px 0;
}