html {
  background-color: whitesmoke;
  text-align: center;
}

.main-title {
  font-size: 4em;
}

.apps-list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid silver;
  background-color: #282a35;
  padding-left: 10vw;
  padding-right: 10vw;
  margin: 0;
}

.apps-item {
  background: #04aa6d;
  padding: 5px;
  width: 100px;
  height: 100px;
  margin: 10px;
  text-decoration: none;
  line-height: 3em;
  color: #ffffff;
  font-size: 1em;
  text-align: center;
  border-radius: 5px;
}

.apps-item:hover {
  font-weight: bolder;
  color: #282a35;
}

@media screen and (max-width: 600px) {
  .apps-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

footer {
  width: 100%;
  overflow: hidden;
  position: fixed;
  bottom: 20px;
  text-align: center;
}
