html {
  font-family: 'Roboto', sans-serif;
  background-color: whitesmoke;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 80%);
  color: #454545;
}

h1 {
  text-align: center;
}

.header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-bottom: 3px solid #e2e8f0;
}

.navbar {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
}

.nav-item {
  margin-left: 1.5em;
}

ul.nav-menu {
  padding: 0;
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  color: #475569;
}

.nav-link:hover {
  color: #04aa6d;
}

.nav-logo {
  text-decoration: none;
  font-size: 2em;
  font-weight: 600;
  color: #04aa6d;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;

  background-color: #101010;
}

.nav-menu {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .navbar {
    justify-content: space-between;
  }

  .nav-menu {
    flex-flow: nowrap;
    left: -100%;
    top: 4em;
    flex-direction: column;
    background-color: #fff;
    justify-content: start;
    width: 100%;
    text-align: center;
    transition: 0.2s;
    position: absolute;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 1.5em 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  textarea {
    width: 100%;
  }
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  text-align: center;
  background-color: #282a35;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.4s;
  color: #ffffff;
  background-color: #282a35;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #000000;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #04aa6d;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  text-align: center;
  background-color: #ffffff;
}

.btn {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  overflow: hidden;
  text-decoration: none;
  color: #ffffff;
  background-color: #04aa6d;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 3px;
  font-weight: bold;
}
