html {
  font-family: 'Roboto', sans-serif;
  background-color: whitesmoke;
  color: #454545;
}

h1 {
  text-align: center;
}

.nav-style {
  text-align: center;
}

.nav-option {
  color: #0c7737;
  font-weight: 900;
  padding: 10px;
  font-size: 1.2em;
  text-decoration: none;
}

.nav-option:hover {
  background-color: #058a592a;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  text-align: center;
  background-color: #282a35;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.4s;
  color: #ffffff;
  background-color: #282a35;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #000000;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #04aa6d;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  text-align: center;
  background-color: #ffffff;
}

.btn {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  overflow: hidden;
  text-decoration: none;
  color: #ffffff;
  background-color: #04aa6d;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 3px;
  font-weight: bold;
}